@import url('https://fonts.googleapis.com/css?family=Oxanium:300,600,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */
    /* overflow: initial; */

    background-color: #292c34;
    color: #fff;

    font-family: 'Oxanium', sans-serif;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* NAV */

.navigation {
    position: sticky;
    top: 0;
    padding: 13px;
    z-index: 99;

    background-color: rgba(73, 73, 73, 0.9);
    transition: all 0.3s ease;
    box-shadow: rgba(73, 73, 73, 0.1) 0px 3px;
}

.navigation .nav-title {
    position: relative;
    display: inline-flex;
    top: 2px;
}

.navigation .nav-title a {
    font-size: 30px;
    background: -webkit-linear-gradient(left, rgb(255, 80, 80), rgb(255, 102, 102));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation .nav-list {
    position: relative;
    top: 7px;
    float: right;

    display: inline-flex;
    list-style: none;
}

.navigation .nav-list li a{
    margin: 0 20px 2px 0;
    transition: 0.3s ease;
    color: #fff;
}

.navigation .nav-list li a:hover {
    color: rgb(255, 255, 255, 0.5);
}

.navigation .nav-list .active {
    border-bottom: 2px solid rgb(0, 255, 0);
}

/* SIDENAV */

.menu-btn {
    display: none;
    float: left;
    width: 40px;
    height: 40px;
    transition: 0.5s all ease;
    border-radius: 10px;
}

.menu-btn:hover {
    background: rgba(185, 185, 185, 0.2);
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, #3b3b3b, #464646);
    overflow-x: hidden;
    transition: 0.3s all;

    z-index: 2;
}

.sidenav .nav-title {
    padding: 8px 0px 10px 5px;

    font-size: 22px;
    background: -webkit-linear-gradient(left, rgb(255, 80, 80), rgb(255, 102, 102));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
    border-radius: 0px 100px 100px 0px;
}

.sidenav .active {
    background-color: rgb(0, 255, 0);
}

.sidenav a:hover {
    color: rgb(255, 255, 255, 0.5);
}

.closebtn {
    position: absolute;
    top: 8px;
    right: 12px;
    margin-left: 50px;
    width: 40px;
    height: 40px;
    transition: 0.5s all ease;
    border-radius: 10px;
}

.closebtn:hover {
    cursor: pointer;
    background-color: rgb(77, 77, 77, 0.5);
}

.sidenav .breaker-underline {
    border-bottom: 1px solid #fff;

    width: 75%;
    margin: 0 auto;

    margin-top: 5px;
    margin-bottom: 5px;
}

/* END SIDENAVE */
/* END NAV */

/* HEADER */

.photo-header {
    background-image: url(/Assets/coolBackground.png);
    text-align: center;
    width: 100%;
    height: 95vh;

    color: #fff;
    border-bottom: 5px solid white;
}

.photo-header .text-cont {
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    z-index: 0;
}

.photo-header .text-cont .photo-title {
    background: -webkit-linear-gradient(left, rgb(255, 80, 80), rgb(255, 146, 146));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200px;
    border-bottom: 2px solid white;
}

.photo-header .text-cont .photo-what {
    font-weight: 100;
    font-size: 90px;
    padding-top: 20px;
}

/* END HEADER */

/* SECTION */

.section {
    text-align: center;
    background-color: #2e2e2e;
    border-bottom: 5px solid white;
}

#section-title {
    background: -webkit-linear-gradient(left, rgb(255, 80, 80), rgb(255, 102, 102));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    border-bottom: 2px solid white;
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
}

#section-title.long {
    width: 600px;
}

.section #section-inline {
    display: inline-flex;
    padding-top: 20px;
}

.section #section-inline #section-text {
    text-align: left;
    width: 620px;
    margin: 0 auto;
    padding: 30px;
    line-height: 40px;
    font-size: 35px;
}

/* ABOUT IMAGES */

.section #section-inline .imgs {
    display: grid;
}

.section #section-inline .imgs .about-image {
    border: 6px solid #fff;
    width: 400px;
    height: 400px;
    margin: 20px;
}

/* BACKGROUND PROGRESS BARS */

#background {
    background-color: #292c34;
}

#background .background .skill-graph .chart .chart-svg {
    width: 230px;
    height: 230px;
    margin: 5px;
}
  
#background .background .skill-graph .chart .chart-svg .bg {
    fill: none;
    stroke: #505050;
    stroke-width: 3.8;
}
  
#background .background .skill-graph .chart .chart-svg .line {
    fill: none;
    stroke-width: 4.2;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}
  
#background .background .skill-graph .chart .chart-svg.red .line {
    stroke: #ff5e5e;
}

#background .background .skill-graph .chart .chart-svg.green .line {
    stroke: #4CC790;
}

#background .background .skill-graph .chart .chart-svg.blue .line {
    stroke: #3c9ee5;
}
  
#background .background .skill-graph .chart .chart-svg .percentage {
    fill: #fff;
    font-size: 10px;
    text-anchor: middle;
}

#background .background .skill-graph .graph-title {
    font-size: 60px;
    background: -webkit-linear-gradient(left, rgb(255, 178, 106), rgb(255, 141, 35));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    font-weight: 100;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

/* PROJECT GALLERY */

.project-gallery {
    background-color: #2e2e2e;
    height: 910px;
    border-bottom: 5px solid white;
}

.project-gallery .projects .inline {
    display: inline-flex;
}

.project-gallery .projects {
    margin: 0 auto;

    margin-top: 20px;

    border: 10px solid rgb(255, 102, 102);
    background-color: #292c34;
    border-radius: 10px;   

    width: 1550px;
    height: 630px;
}

.project-gallery .projects .project {
    margin: 20px;

    background-color: white;
    border: 5px solid #ff5e5e;
    border-radius: 5px;

    width: 400px;
    height: 540px;

    color: #292c34;
    transition: all 0.3s ease-in-out;

    animation-name: fade;
    animation-duration: 1s;
}

.project-gallery .projects .project:hover {
    transform: translate(-2px, -5px);
    cursor: pointer;
    box-shadow: rgb(77, 77, 77, 0.9) 10px 10px;
    opacity: 0.8;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.project-gallery .projects .project .project-thumbnail {
    width: 390px;
    max-height: 300px;
    overflow: hidden;
}

.project-gallery .projects .project .project-title {
    position: absolute;
    width: 330px;

    color: #ff5e5e;
    border-bottom: 2px solid rgb(255, 150, 89);

    font-size: 40px;
    margin-left: 10px;
}

.project-gallery .projects .project .project-sample {
    position: absolute;
    padding: 5px 10px 0;
    font-size: 20px;
    width: 350px;
    margin-left: 5px;
    margin-top: 54px;
}

.project-gallery .projects .project .inline-info {
    display: inline-flex;
    position: relative;
    top: 240px;
    left: 30px;
}

.project-gallery .projects .project .inline-info .date {
    position: absolute;
    left: 150px;
    font-weight: 300;
    font-size: 24px;
    width: 190px;
    padding: 7px;
    color: white;
    background-color: #1d1d1d;
    border-radius: 100px 100px 100px 100px;
}

.project-gallery .projects .project .inline-info .languages {
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}

.project-gallery .projects .arrow {
    margin: auto;
    padding: 8px;
    width: 80px;  
    border-radius: 10px;
    transition: all 0.3s ease;
}

.project-gallery .projects .arrow:hover {
    cursor: pointer;
    background-color: rgb(77, 77, 77);
}

.project-gallery .projects .arrow.left {
    margin-left: 20px;
}

.project-gallery .projects .arrow.right {
    margin-right: 20px;
}

.project-gallery .projects .dots {
    text-align: center;
}

.project-gallery .projects .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.6s ease;
    margin: 4px;
    box-shadow: rgb(77, 77, 77, 0.3) 3px 3px;
}

.project-gallery .projects .dot:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.project-gallery .projects .dots .dot.active {
    background-color: #ff5e5e;
}

/* GENERIC BUTTON */

.btn {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px;
    width: 300px;
    font-weight: 400;
    border: 2px solid #ff5e5e;
    border-radius: 5px;
    transition: all 0.3s ease;
}

a .btn {
    color: white;
}

.btn:hover {
    cursor: pointer;
    background: rgba(73, 73, 73, 0.6);
}

/* CONTACT FORM */

.contact {
    text-align: center;
    height: 910px;
}

#section-title.contact-title {
    margin-bottom: 20px;
}

.contact .contact-form {
    display: table;
    margin: 0 auto;
}

.contact-form .inline-form{
    display: inline-flex;
}

.contact .contact-form .textarea {
    font-family: 'Oxanium', sans-serif;

    margin: 50px;

    padding: 15px;

    width: 60%;

    border: none;
    outline: none;
    border-bottom: 1px solid #fff;

    background-color: transparent;

    font-size: 20px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact .contact-form .textarea#message {
    resize: none;

    border-bottom: none;
    border: 2px solid #CCC;
    outline: thin;
}

  
.contact .contact-form .textarea:focus {
    border-bottom: 2px solid dodgerblue;
    transform: scale(1.1);
}
.contact .contact-form .textarea#message:focus {
    border: 2px solid dodgerblue;
}

/* FOOTER */

.footer {
    text-align: center;
    background-color: #222222;
    padding: 16px;
}

.footer h1 {
    font-weight: 100;
}

/* POPUP */

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(77, 77, 77, 0.9);
    z-index: 100;
    animation-name: fade;
    animation-duration: 0.3s;
}



.overlay .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;

    width: 1100px;
    height: 630px;
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
    animation-name: fade;
    animation-duration: 1s;
}

.overlay .popup .popup-title {
    font-size: 100px;
    font-weight: 100;

    border-bottom: 4px solid aquamarine;
}

.overlay .popup .popup-text {
    margin: 20px;
    
    font-size: 30px;
}

.overlay .popup .options-list li {
    margin: 20px;

    font-size: 34px;
    color: rgb(218, 72, 255);
    list-style-type: square;
}

.overlay .popup .sorry {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;

    background-color: rgb(54, 54, 54);

    font-size: 24px;
    font-weight: 300;
    border-radius: 0 0 20px 20px;
}

@media screen and (max-width: 1600px) {
    .project-gallery .projects {
        width: 1100px;
        height: 630px;
    }
    .project-gallery .projects .inline .project#hide {
        display: none;
    }
}

@media screen and (max-width: 1250px) {
    .photo-header .text-cont .photo-title {
        font-size: 150px;
    }
    .photo-header .text-cont .photo-what {
        font-size: 80px;
    }
    .photo-header .text-cont {
        width: 850px;  
    }
    .project-gallery .projects .inline .project#hide2 {
        display: none;
    }
    .project-gallery .projects {
        width: 650px;
        height: 630px;
    }
    .overlay .popup {
        width: 650px;
    }
    .overlay .popup .popup-title {
        font-size: 60px;
    }
    .overlay .popup .popup-text {
        font-size: 22px;
    }
    .overlay .popup .options-list li{
        font-size: 30px;
    }
}

@media screen and (max-width: 1050px) {
    .section #section-inline #section-text {
        font-size: 30px;
        line-height: 40px;
    }
    .section #section-inline {
        display: initial;
    }
    .section #section-inline .imgs {
        display: table-row;
    }
    .section #section-inline .imgs .about-image {
        margin: 0 auto;
        margin: 20px;
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 945px) {
    .photo-header .text-cont .photo-title {
        font-size: 110px;

    }
    .photo-header .text-cont .photo-what {
        font-size: 60px;
    }
    .photo-header .text-cont {
        width: 690px;
    }
}

@media screen and (max-width: 860px) {
    .section #section-inline #section-text {
        width: 460px;
    }  
    .photo-header .text-cont .photo-title {
        font-size: 90px;

    }
    .photo-header .text-cont .photo-what {
        font-size: 40px;
    }
    .photo-header .text-cont {
        width: 550px;
    }
}

@media screen and (max-width: 750px) {
    .project-gallery .projects {
        width: 450px;
        height: 570px;
    }
    .project-gallery .projects .project {
        width: 300px;
        height: 480px;
    }
    .project-gallery .projects .project-thumbnail {
        max-width: 290px;
        max-height: 300px;
    }
    .project-gallery .projects .arrow {
        width: 30px;
        height: 100px;
        padding: 0;
    }
    .project-gallery .projects .project .project-sample {
        font-size: 20px;
        width: 250px;
    }
    .project-gallery .projects .project .inline-info .date {
        width: 150px;
        height: 40px;
        font-size: 22px;
        left: 130px;
    }
    .project-gallery .projects .project .inline-info .languages {
        font-size: 18px;
    }
    .project-gallery .projects .project .inline-info {
        left: 5px;
    }
    .project-gallery .projects .project .project-title {
        width: 250px;
    }
    .overlay .popup {
        width: 450px;
    }
    .overlay .popup .popup-title {
        font-size: 43px;
    }

    .overlay .popup .options-list li{
        font-size: 20px;
    }
}

@media screen and (max-width: 630px) {
    .nav-list li{
        display: none;
    }
    .menu-btn {
        display: initial;
    }
    .photo-header .text-cont .photo-title {
        font-size: 60px;
    }
    .photo-header .text-cont .photo-what {
        font-size: 37px;
    }
    .photo-header .text-cont {
        width: 480px;
    }
    #section-title.long {
        font-size: 45px;
        width: 330px;
    }
}
@media screen and (max-width: 525px) {
    .photo-header .text-cont {
        width: 350px;
    }
    #section-title {
        width: 330px;
        font-size: 50px;
    }
    .section #section-inline #section-text {
        font-size: 30px;
        width: 350px;
    }
    .photo-header .text-cont .photo-title {
        font-size: 70px;
    }
    .photo-header .text-cont .photo-what {
        font-size: 40px;
    }
    .photo-header .text-cont {
        width: 450px;
    }
    
}